@import "tailwindcss";

.multiline-truncate {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}


.image-gallery-thumbnail img {
  width: fit-content;
  height: 80px !important;
  object-fit: cover;
  border-radius: 4px;

}

